.ocultar{
	display: none;
}

body{
	display: flex;
	align-items: center;
	flex-direction:column;
	justify-content: center;
	text-align: center;
	margin: 0;
	background: url(./imagenes/fondo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;/* se maxifica toda la paNTALLA*/
	font-family: cursive;
	font-size: x-large;
	color: rgb(31, 73, 80); 
	height: 100vh; /* para ellos trabajan juntos al height*/
	font-weight: bold;


}
.login{
	height: 20 vh;
	text-align: center;
	align-content: center;
	
}
.formulario{
	width: 350px;
	height: 100px;
	margin: auto;
	text-align: center;
	box-shadow: 0 0 20px 10px rgba(31, 73, 80, 0.699);
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#contenedorNombre{
	display: flex;
	justify-content: center;
}

#name {
	width: 200px;
	height: 25px;
	padding-left: 15px;
	color: rgb(31, 73, 80);
	font-size: 16px;
	display: flex;
	justify-content: center;
}

button {
	height:30px;
	width: 90px;
}

.contenedor{
	border: 0px;
	text-align: center;
}
.tit{
	margin-top: 50px;
	color: darkcyan,
}
.saludo{
	text-align: center;
	align-content: center;
	margin-top: 0px;
	color: darkcyan;
	position: relative;
	font-weight: bold;

}
.botones1{
	align-content: center;
	text-align: center;
}


footer{
	/* display: flex;
	align-items: center;
	justify-content: center; */
	position: absolute;
	bottom: 0px;
}

#cerrar{
	display: flex;
	align-items: center;
	justify-content: center;
}

#textdes{
	columns:50px; 
	height:40px;
	width: 270px;
}
#textint{
	columns:50px; 
	height:20px;
	width: 40px;
}
