.ocultar{
	display: none;
}

body{

	display: flex;
	align-items: center;
	flex-direction:column;
    justify-content: center;
	margin: 0;
	padding-top: 30px;
	background: url(./imagenes/fondo2.jpg);
	background-repeat: no-repeat;
	font-family: cursive;
	font-size: x-large;
	color: rgb(31, 73, 80); 
}


.login{
	height: 20 vh;
	text-align: center;
	align-content: center;
	
}
.formulario{
	width: 300px;
	height: 100px;
	margin: auto;
	text-align: center;
	box-shadow: 0 0 20px 10px rgba(31, 73, 80, 0.699);
	padding-top: 20px;
	padding-bottom: 20px;
}

#name {
	width: 200px;
	height: 25px;
	padding-left: 15px;
	color: rgb(31, 73, 80);
	font-size: 16px;
}

button {
	height:30px;
	width: 90px;
}

.contenedor{
	border: 0px;
	text-align: center;
}
.tit{
	margin-top: 50px;
	color: darkcyan,
}
.saludo{
	text-align: center;
	align-content: center;
	margin-top: 0px;
	color: green;
	position: absolute;
}
.botones1{
	align-content: center;
	text-align: center;
}


footer{
		 position: relative;
		 bottom: 0px;
}

#cerrar{
	display: flex;
	align-items: center;
	justify-content: center;
	
	

}

textarea{
	columns:50; 
	height:10;
	widows: 40px;; 
	height:15px;
}

